/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #003300; */
  background-color: #090010;
  color: #FFFFFA;
}

@layer utilities {
  .text-gold-l {
    @apply bg-gradient-to-l
           from-[#fff7c6]
           via-[#f5d670]
           via-[#f0c24a]
           via-[#ffecb3]
           to-[#d4a537]
           text-transparent
           bg-clip-text;
  }
  .text-gold-r {
    @apply bg-gradient-to-r 
           from-[#fff7c6]
           via-[#f5d670]
           via-[#f0c24a]
           via-[#ffecb3]
           to-[#d4a537]
           text-transparent
           bg-clip-text;
  }
  .text-blue-l {
    @apply bg-gradient-to-l
          from-[#93c5fd]
          via-[#60a5fa]
          to-[#3b82f6]
          text-transparent bg-clip-text;
  }
  .text-blue-r {
    @apply bg-gradient-to-r
          from-[#93c5fd]
          via-[#60a5fa]
          to-[#3b82f6]
          text-transparent bg-clip-text;
  }
  .text-purple-l {
    @apply bg-gradient-to-l
           from-[#d9c5ff]
           via-[#b792ff]
           to-[#9f5bff]
           text-transparent
           bg-clip-text
  }
  .text-purple-r {
    @apply bg-gradient-to-r
           from-[#d9c5ff]
           via-[#b792ff]
           to-[#9f5bff]
           text-transparent
           bg-clip-text
  }
  .text-pink-r {
  @apply bg-gradient-to-r
         from-[#ffe4f0]
         via-[#f6a3c6]
         to-[#e56b9f]
         text-transparent
         bg-clip-text
  }
  .text-red-r {
  @apply bg-gradient-to-r
         from-[#fff3f3]
         via-[#ffd1d1]
         via-[#ff9b9b]
         to-[#e86a6a]
         text-transparent
         bg-clip-text;
  }
  .bg-gold-l {
    @apply bg-gradient-to-l
           from-[#fff7c6]
           via-[#f5d670]
           via-[#f0c24a]
           via-[#ffecb3]
           to-[#d4a537]
  }
  .bg-gold-r {
    @apply bg-gradient-to-r
           from-[#fff7c6]
           via-[#f5d670]
           via-[#f0c24a]
           via-[#ffecb3]
           to-[#d4a537]
  }
  .bg-blue-r {
    @apply bg-gradient-to-r
           from-[#93c5fd]
           via-[#60a5fa]
           to-[#3b82f6]
  }
  .bg-blue-b {
    @apply bg-gradient-to-b
           from-[#93c5fd]
           via-[#60a5fa]
           to-[#3b82f6]
  }
  .bg-purple-r {
    @apply bg-gradient-to-r
           from-[#d9c5ff]
           via-[#b792ff]
           to-[#9f5bff]
  }
  .bg-purple-t {
    @apply bg-gradient-to-t
           from-[#d9c5ff]
           via-[#b792ff]
           to-[#9f5bff]
  }
  .bg-pink-r {
  @apply bg-gradient-to-r
         from-[#ffe4f0]
         via-[#f6a3c6]
         to-[#e56b9f]
  }
  .bg-pink-b {
  @apply bg-gradient-to-b
         from-[#ffe4f0]
         via-[#f6a3c6]
         to-[#e56b9f]
  }
  .bg-red-r {
  @apply bg-gradient-to-r
         from-[#fff3f3]
         via-[#ffd1d1]
         via-[#ff9b9b]
         to-[#e86a6a]
  }
  .bg-red-t {
  @apply bg-gradient-to-t
         from-[#fff3f3]
         via-[#ffd1d1]
         via-[#ff9b9b]
         to-[#e86a6a]
  }
  .bg-gray-br {
    @apply bg-gradient-to-br
       from-[#292929]
       via-[#1b1b1b]
       to-[#0e0e0e];
  }
}